{% schema %}
  {
    "name": "Product Info",
    "settings": [
      {
        "type": "richtext",
        "id": "product_info_heading",
        "label": "Product Info Heading"
      },
      {
        "type": "textarea",
        "id": "product_info_text",
        "label": "Product Info Text",
        "default": "Here is some detailed information about the product."
      },
      {
        "type": "url",
        "id": "learn_more_url",
        "label": "Learn More URL"
      },
      {
        "type": "image_picker",
        "id": "product_left_img",
        "label": "Left Image"
      }, {
        "type": "range",
        "id": "padding_top-bottom",
        "label": "Padding Top & Bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 40
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "background-1"
      }
    ],
    "presets": [
      {
        "name": "Product Info",
        "category": "Product"
      }
    ]
  }
{% endschema %}
<section class="relative overflow-hidden color-{{ section.settings.color_scheme }}" style="padding-top: {{ section.settings.padding_top-bottom }}px; padding-bottom: {{ section.settings.padding_top-bottom }}px;">

  <div class="max-w-8xl mx-auto relative px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-12">
      {% if section.settings.product_left_img %}
        <div class="relative">
          <div class="absolute w-[300px] top-0">
            <img
              height=""
              width=""
              src="{{ section.settings.product_left_img | img_url: 'master' }}"
              alt="Product Image"
              class="absolute w-full h-full object-cover md:w-full md:h-auto">
          </div>
        </div>
      {% endif %}

      <!-- Right Content -->
      <div class="relative mx-auto flex flex-col items-center justify-center text-center p-6 md:p-0">
        {% if section.settings.product_info_heading %}
          <h2 class="text-3xl font-bold mb-4 text-gray-900">
            {{ section.settings.product_info_heading }}
          </h2>
        {% endif %}

        {% if section.settings.product_info_text %}
          <p class="text-gray-700 mb-6 leading-relaxed max-w-2xl">
            {{ section.settings.product_info_text }}
          </p>
        {% endif %}

        {% if section.settings.learn_more_url %}
          <a href="{{ section.settings.learn_more_url }}" class="bg-gradient-to-r from-[#e7e4c6] to-[#dab66d] text-black px-6 py-3 rounded-lg shadow border-amber-950 border-[1px] transition hover:from-[#dab66d] hover:to-[#e7e4c6]">
            Learn More
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>