<div class="w-full h-auto overflow-x-hidden bg-[#fdf2d8] flex flex-col md:flex-row border border-gray-400 divide-y divide-gray-400 md:divide-y-0 md:divide-x">
  <div class="flex flex-col justify-between p-8 w-full md:w-[60%]">
    <div>
      {% comment %} main heading {% endcomment %}
      <h2 class="ctm-h2">
        {{ section.settings.heading-top }}
      </h2>
      <h2 class="text-3xl md:text-4xl font-bold uppercase text-gray-900 leading-tight">
        {{ section.settings.heading | escape | newline_to_br }}
        <span class="relative bg-none">
          <span class="bg-yellow-200 px-1 pb-1 rounded-lg relative" style="box-shadow: 0 -8px 0 0 #fdedaf inset;">
            {{ section.settings.highlight_text }}
          </span>
        </span>

        {{ section.settings.heading_2 | escape }}
      </h2>
      <!-- Description -->
      <p class="text-[13px] mt-5 text-gray-800">
        {{ section.settings.description }}
      </p>
    </div>
    <a href="{{ section.settings.cta_link }}" class="mt-8 font-bold text-black text-xl md:text-2xl lg:text-3xl tracking-widest hover:underline">
      {{ section.settings.cta_label }} &rarr;
    </a>
  </div>

  {% assign featured_collection = collections[section.settings.product_collection] %}
  {% for product in featured_collection.products limit: section.settings.products_limit %}
    <div class="flex flex-col items-center justify-center py-8 w-full md:w-[40%] border-t border-gray-400 md:border-t-0 md:border-l border-dashed md:border-dashed">

      <!-- Product Image & Title linked -->
      <a href="{{ product.url }}" class="flex flex-col items-center group text-center">
        <img
          height=""
          width=""
          src="{{ product.featured_image | image_url: width: 420 }}"
          alt="{{ product.title }}"
          class="w-[110px] md:w-[150px] lg:w-[180px] xl:w-[200px] mb-5 group-hover:scale-105 transition-transform cursor-pointer"
          loading="lazy" />
        <h3 class="ctm-h3 mb-1">{{ product.title }}</h3>
      </a>

      <!-- Price -->
      <p class="text-gray-900 font-bold text-base">{{ product.price | money }}</p>

      <!-- Buy Button -->
      <form
        method="post"
        action="/cart/add"
        class="mt-3">
        <input
          type="hidden"
          name="id"
          value="{{ product.variants.first.id }}" />
        <button type="submit" class="bg-gradient-to-r from-[#e7e4c6] to-[#dab66d] text-black shadow border-amber-950 border-[1px] hover:from-[#dab66d] hover:to-[#e7e4c6] px-4 py-2 rounded-lg text-sm font-semibold hover:bg-gray-800 transition">
          Add to Cart
        </button>
      </form>

    </div>
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Custom Product Section",
    "settings": [
      {
        "type": "text",
        "id": "heading-top",
        "label": "Heading Main",
        "default": "OUR POPULER COLLECTION,"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading Top",
        "default": "OUR BLENDS DELIVER ON THE PROMISE OF BALANCE AND CONSISTENCY,"
      },
      {
        "type": "text",
        "id": "highlight_text",
        "label": "Heading Highlight",
        "default": "ROASTED TO"
      },
      {
        "type": "text",
        "id": "heading_2",
        "label": "Heading Bottom",
        "default": "MAXIMIZE SWEETNESS."
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper."
      }, {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link",
        "default": "/collections/all"
      }, {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label",
        "default": "VIEW MORE"
      }, {
        "type": "collection",
        "id": "product_collection",
        "label": "Collection"
      }, {
        "type": "number",
        "id": "products_limit",
        "label": "Number of Products",
        "default": 2
      }
    ],
    "presets": [
      {
        "name": "Custom Product Section"
      }
    ]
  }
{% endschema %}